/bootstrap/compiled.php
/vendor
/public/vendors
/app/config/app.php
/app/config/database.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.svn/*
/apollo_portal/*
.idea/
.svn/
app/storage/logs/*

